.btn{
    padding-bottom: 20%;
    padding-top: 10%;
  }
  ion-input{
    font-size: 20px;
  }
  ion-icon{
    font-size: 30px;
  }
  
  ion-content.background{
    --background: url(../../assets/icon/istockphoto-959147974-612x612.jpg) 0 0/100% 100% no-repeat;
}
ion-label{
    font-size: 25px !important;
}