<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="hd">Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="updatePassword()">
    <ion-item>
      <ion-label position="floating"><ion-icon name="lock-closed"></ion-icon> New Password</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
    </ion-item>
<br>
    <ion-button expand="block" type="submit" size="large">Update Password</ion-button>
  </form>
</ion-content>