.it{
  text-align: center;
  color: rgb(240, 111, 37);
  font-weight: bolder;
}
.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}
.btn{
  padding-left: 35%;
  
}